<!DOCTYPE html>
<html>
<head>
  <title>jam smarthome API</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>jam smarthome API</h1>

</body>
</html>
